# :::::===================================================>> DB
DATABASE_URL="postgresql://root:secret@localhost:5434/pos-db?schema=public"

# :::::===================================================>> JWT
JWT_SECRET_ACCESS_TOKEN="secret1"
JWT_SECRET_REFRESH_TOKEN="secret2"

# :::::===================================================>> APP
PORT="3001"
SUPER_ADMIN_EMAIL="suosphearith@gmail.com"
TELEGRAM_BOT_TOKEN="7363862576:AAHYJtqn1nahCR0_GdCdKxoxmRKQ8QADSgA"
TELEGRAM_CHAT_ID="-1002241424998"

# :::::===================================================>> ORIGIN
ORIGIN_URL_1="http://localhost:5173"
ORIGIN_URL_2=
ORIGIN_URL_3=